{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="container">
	
	<h1>Lección 05: On y Bind</h1>
	<hr>
	<br>
	<h3>Click me!</h3>
</div>







{% endblock %}