{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
	<h1> Lección 1</h1>
		<hr>
       		<ul>
       			<li>Hola 1</li>
       			<li>Hola 2</li>
       			<li>Hola 3</li>
       		</ul>

       		<ul>
       			<li>Hola 1</li>
       			<li>Hola 2</li>
       			<li>Hola 3</li>
       		</ul>

{% endblock %}
