{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}

<div class="container">
	
	<h1>Lección 04: Acordeones</h1>
	<hr>

	<div align="center">
		<dl>
			<dt>Acordeón</dt>
			<dd>Detalle del acordeón</dd>
			<dt>Acordeón</dt>
			<dd>Detalle del acordeón</dd>
			<dt>Acordeón</dt>
			<dd>Detalle del acordeón</dd>
			<dt>Acordeón</dt>
			<dd>Detalle del acordeón</dd>
			<dt>Acordeón</dt>
			<dd>Detalle del acordeón</dd>
			<dt>Acordeón</dt>
			<dd>Detalle del acordeón</dd>
			<dt>Acordeón</dt>
			<dd>Detalle del acordeón</dd>
		</dl>
	</div>
</div>







{% endblock %}